{{>layout/header}}
<h1>스프링 부트로 시작하는 웹 서비스 Ver.2</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/location/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                <a href="/user/login" class="btn btn-warning active" role="button">일반 로그인</a>
                <a href="/user/signup" class="btn btn-warning active" role="button">회원가입</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!--목록 출력 영역-->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-string">
        <tr>
            <th>번호</th>
            <th>위도</th>
            <th>경도</th>
            <th>주소</th>
            <th>최종 수정일</th>
            <th>거래 번호</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#locationEntity}}
        <tr>
            <td><a href="/location/update/{{id}}">{{id}}</a></td>
            <td>{{latitude}}</td>
            <td>{{longitude}}</td>
            <td>{{address}}</td>
            <td>{{modifiedDate}}</td>
            <td>{{trade.id}}</td>
        </tr>
        {{/locationEntity}}
        </tbody>
    </table>
</div>
{{>layout/footer}}